$deepRust: #9b5f60;
$offWhite: #f3f3eb;
$golden: #dbb05c;
$rust: #cd7f80;
$navy: #49507f;
$titleLight: #cfddfc;
$titlePink: #efaeaf;

$color: #d8e2eb;
$color2: #c8c7d7;
$color3: #edecf2;
$color4: #8897aa;
$color5: #f4ede5;
$color6: #d1e8ee;
