@use 'colors' as color;

#contact {
    border-top: 3px solid color.$golden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    h1 {
        font-size: 2rem;
        color: #0D324D;
    }
    #contact-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 25px;
        a {
            color: color.$rust;
        }
    }
}