@use 'colors' as color;

header:not(#small-header) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/star-burst.svg'), url('../images/star-burst.svg') ;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-size: 400px 100vh;
    background-position: -200px 0, calc(200px + 100%) 0;
    #title {
        font-size: 3.5rem;
        color: color.$rust;
        text-shadow: 0 5px 0 color.$navy,
                    0 10px 0 color.$lightBlue;
    }
    #subtitle {
        font-size: 1.5rem;
        color: color.$golden;
    }
}

@media only screen and (min-width:768px) {
    header:not(#small-header) {
        background-size: 500px 100vh;
        background-position: -250px 0, calc(250px + 100%) 0;
    }
}