@use "colors" as color;
@use "fontsizes" as fs;

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid color.$rust;

  a {
    text-decoration: none;
  }
  #title {
    font-size: clamp(fs.$title_min, fs.$title_mid, fs.$title_max);
    color: color.$titlePink;
    text-shadow: 0 5px 0 color.$rust, 0 10px 0 color.$deepRust;
  }
  #subtitle {
    font-size: 1.5rem;
    color: color.$golden;
    font-family: "freight-big-pro", serif;
    font-weight: 300;
    font-style: normal;
  }

  .flex-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      height: 30px;
      width: 30px;
    }
  }
}

@media only screen and (min-width: 768px) {
  header {
    .flex-title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      img {
        height: 60px;
        width: 60px;
      }
    }
  }
}
