@use 'colors' as color;
@use 'header';
@use 'project';
@use 'about';
@use 'contact';
@use 'small-header';
@use 'blog-hub';
@use 'blog-post';

body {
    margin: 0;
    background-color: color.$offWhite;
}
header:not(#small-header),
section:not(#contact, .article-section) {
    min-height: 90vh;
    height: fit-content;
    width: 100vw;
    margin: 5vh auto;
}

h1:not(#project-title, #title) {
    color: color.$navy;
}

h1:not(#title) {
    font-size: 2rem;
}
